body  {

	margin: 0;
	padding: 0;
	background-color: black;
	overflow: hidden;

}


#container1{

	background: rgb(221, 221, 221);
	background-repeat: no-repeat;
	position: absolute;
	width: 100%;
    height: 100%;
	overflow: hidden;

}

#container2{

	background: rgb(46, 7, 16);
	background-repeat: no-repeat;
	position: absolute;
	width: 100%;
    height: 100%;
	overflow: scroll;

}

.fontFlake{

    position:absolute;
	top:-50px;
	left:0px;
	z-index:10;
	position:block;

}
::-webkit-scrollbar {

    background-color: rgb(46, 7, 16);
    
}

#container3{

	background: rgba(61, 57, 66, 0.83);
	background-repeat: no-repeat;
	position: absolute;
	width: 100%;
    height: 100%;
    overflow: hidden;

}

h1 {

	color: rgb(41, 41, 41);
	font-family: BrandonText-Regular, Futura, Helvetica, Arial, sans-serif;
	font-size: 1.8em;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	
}

.navigation {

	-webkit-animation-duration: 1s;
	-webkit-animation-delay: 1.5s;
	-moz-animation-duration: 1s;
	-moz-animation-delay: 1.5s;
	-ms-animation-duration: 1s;
	-ms-animation-delay: 1.5s;
	-o-animation-duration: 1s;
	-o-animation-delay: 1.5s;
   
}

#goDeep {

	position: absolute; 
	top:40%; 
	right:100px; 
	font-size: 1.2em;
	font-family: BrandonText-Regular, Futura, Helvetica, Arial, sans-serif;
	color: #fff;
	text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #3E22B9, 0 0 70px #3E22B9, 0 0 80px #3E22B9, 0 0 100px #3E22B9, 0 0 150px #3E22B9;
	
}
.testClass {

	font-family: BrandonText-Regular, Futura, Helvetica, Arial, sans-serif;

}

.onceMore {

	font-size: 2em;
	position: absolute;
	bottom: 28%;
	left: 32%;
	font-style: italic;
	color: white;

}

#patterns {

	font-family: "Museo";
	font-size: 1.7em;
	color: #fff;
	text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #24B02F, 0 0 70px #24B02F, 0 0 80px #24B02F, 0 0 100px #24B02F, 0 0 150px #24B02F;

	 -webkit-animation-duration: 2s;
	-webkit-animation-delay: 2s;

}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
[hidden] { display: none; }

ul, ol {
    list-style: none;
}

a {
    color: #004756;
    text-decoration: underline;
    font-weight: bold;
}

.wrapper {
    margin: 0 auto;
    width: 960px;
}

.ducksboard-logo {
    width: 120px;
    height: 18px;
    background-position: right bottom;
    margin:0 5px;
}

.logo {
    width: 300px;
    height: 100px;
    background-position:20px top;
}


.logo-small {
    width: 200px;
    height: 60px;
    background-position: 14px -110px;
}




[role='header'] .claim {
    font-size: 2em;
    font-style: italic;
    font-weight: normal;

    margin-top: -20px;
    padding-bottom: 60px;
}

[role='header'] nav li,
[role='header'] nav a {
    display: inline-block;
}

[role='header'] nav a {
    padding: .6em 1.3em;
    background: #F6F6F6;
    font-size: 2em;
    text-decoration: none;
    color: #666666;
    background-color: #F6F6F6;
    font-weight: bold;
    background-color: #EEEEEE;
    -webkit-transition: color .3s;
    transition: color .3s;
}

section header,
.scoped {
    margin: 0 38px;
}

.ttr {
    text-align: right;
}

section header .m_txt{
    margin-top: -2.5em;
    padding: 0 0 25px 0;
}

/* Gridster styles */
.demo {
    margin: 3em 0;
    padding: 7.5em 0 5.5em;
    background: rgb(51, 103, 114);
}

.demo:hover .gridster {
    opacity: 1;
}

.gridster {
    width: 940px;
    margin: 0 auto;

    opacity: .8;

    -webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    -o-transition: opacity .6s;
    -ms-transition: opacity .6s;
    transition: opacity .6s;
}

.gridster .gs_w {
    background: #FFF;
    cursor: pointer;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.gridster .player {
    -webkit-box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
    box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
}


.gridster .gs_w.try {
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    background-position: 37px -169px;

}

.gridster .preview-holder {
    border: none!important;
    border-radius: 0!important;
    background: rgba(255,255,255,.2)!important;
}

.fancyInput{ max-width:80%; min-width:50%; font-size:60px; color:#FFF; vertical-align:middle; line-height:1.3; overflow:hidden; text-align:left; box-shadow:0 1px 0 rgba(255,255,255,.15), 0 2px 4px rgba(0,0,0,.2) inset, 0 0 12px rgba(255,255,255,.1); padding:8px 20px; background:rgba(0,0,0,.1); border-radius:10px; }
.fancyInput.textarea{ line-height:normal; font-size:40px; max-width:50%; min-height:160px; max-height:40%; }
